.container{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: darkgray;
    color: black;
    justify-content: space-evenly;
    font-family: "Orbitron","Jura", "Exo 2", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  }
  .About_me{
    background-color: darkgray;
    padding : 4rem;
  }
  .About_me p{
    margin-top: 1rem;
    word-spacing: 5px;
    font-size: 1.2rem;
  }
  .item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
  }
  .item_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
  }
  .item_header_heading{
    /* width: 100%; */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item_header_heading2{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item_image img{
    height: 400px;
    background-color: gray;
    margin: 10px 0px;
    object-fit: cover;
    width: 100%;
  }
  .item_image img:hover{
    animation: pulse 850ms ease-in-out;
  }
  .item_image::after{
    height: 350px;
    background-color: gray;
    margin: 10px 0px;
    overflow-x: hidden;
  }
  .item_image{
    overflow-x: hidden;
  }
  .item_image::before{
    overflow-x: hidden;
  }
  .item_image::-webkit-scrollbar{
    display: none;
  }
  .item_footer{
    display: flex;
    align-items: center;
    border-top: 1px dashed black;
    padding-top: 5px;
    overflow-y: hidden;
  }
  .about_heading_wrapper{
    overflow-y: hidden;
  }
  .about_text_wrapper{
    overflow-y: hidden;
  }
  .self_taught_wrapper{
    width: 100%;
    overflow-y: hidden;
  }
  .experience_wrapper{
    overflow-y: hidden;
    width: 40%;
  }
  .explorer_wrapper{
    overflow-y: hidden;
  }
  .tinkerer_wrapper{
    overflow-y: hidden;
  }


  @keyframes pulse {
    from, to{
      scale: 1;
    }
    50%{
      scale: 1.08;
    }
  }